# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# Test files
coverage
.nyc_output
*.spec.ts
test

# Documentation
*.md
!README.md

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# OS files
.DS_Store
Thumbs.db
